.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(173, 172, 172);
  transition: all 0.3s ease;
}
.dot.active-index {
  transition: all 0.3s ease;
  background-color: #fe8300;
}
.pagination-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  height: 5vh;
}
