.game-container {
  height: 75vh;
  max-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.stats-container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding-left: 150px;
}
.stats {
  display: flex;
  gap: 10px;
}
.title,
.value {
  font-size: 25px;
}
.title {
  font-weight: 500;
}
.game-board {
  max-width: 700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  perspective: 3000px;
}
.reset-button {
  background-color: #fe8300;
  padding: 10px 50px;
  color: white;
  text-transform: uppercase;
  margin-top: 20px;
  border-radius: 5px;
}
.celebration {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: -10;
  transition: opacity 0.5s ease;
}
.celebration p {
  font-size: 70px;
  margin: 0px;
  text-align: center;
  line-height: 1.5;
  font-weight: 500;
}
.show-victory {
  display: flex;
  flex-direction: column;
  opacity: 1;
  z-index: 10;
  transition: opacity 0.5s ease;
  animation: bounce 3s ease-in-out infinite;
  transform-origin: top left;
}
@keyframes bounce {
  0%,
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
  50% {
    transform: scale(0.7) translate(-50%, -50%);
  }
}
